language: go
go:
  - 1.3.x
  - 1.4 # has no go vet or cover tool
  - 1.5.x
  - 1.6.x
  - 1.7.x
  - 1.8.x
  - tip

go_import_path: github.com/DATA-DOG/fastroute

script:
  - go vet
  - go fmt
  - go test -v -race -coverprofile=coverage.txt -covermode=atomic

after_success:
  - bash <(curl -s https://codecov.io/bash)
